<my-nav></my-nav>
<!-- <header   class="jumbotron">
  <nav>
  <span class="pull-left">Slist
  1254 present today</span>
  <span class="pull-right"></span>
  <a [routerLink]="['/slist/logout']" class="pull-right">Logout</a>
  <span class="pull-right">|</span>
  <a [routerLink]="['/slist/home']" class="pull-right">Welcome</a>
  <span class="pull-right">|</span>
  <a [routerLink]="['/slist/about']" class="pull-right">About</a>
  <span class="pull-right">|</span>
  <a [routerLink]="['/slist/contact']" class="pull-right">Contact</a>
  <span class="pull-right">|</span>
  <a [routerLink]="['/slist/home']" class="pull-right">Home</a>
  <span class="pull-right"></span>
  </nav>
</header> -->
<router-outlet></router-outlet>
<footer></footer>
